body {
    background-color: #1a1a1a;  
    color: #d3d3d3;
    font-family: "franklin gothic medium', arial narrow"
}

#container {
    background-color: #333;
    width: 900px;
    margin: 25px auto; 
    border: 10px solid black; 
    padding: 50px; 
}

#container2 {
     background-color: #333;
    width: 900px;
    margin: 25px auto; 
    border: 10px solid black; 
    padding: 50px; 
}
img { 
    display: block; 
    margin: 0 auto; 
    width: 550px;
    height: 400px;
}

header { 
    text-align: center;
}

nav {
    text-align: center;
    margin: 20px;
        
}

nav a {
    color: #ff4040;
    margin: 15px;
    
}

nav a:hover {
    text-decoration: none;
    color: darkorange;
}

footer {
    text-align: center
}

ul a {
    color: #ff4040;
    
}

ul a:hover {
    text-decoration: none;
    color: darkorange;
}

h2 {
    text-align: center
}

p { 
text-indent: 50px
}


